.footer{
    background-color: rgb(102, 5, 5);
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    padding: 0px 300px 10px 300px;
    color: white;
    font-size: 20px;
}
.footer-heading{
    font-size: 35px;
    margin-bottom: 20px;
}
