.header{
    padding: 0 28px 20px 9px;
    background :linear-gradient(to top, #e5a392, #d6ad6c);
}
.hero-top-left-heading{
    margin-left: 150px;
}
.hero-top-left-heading p{
    font-size: 100px;
}
.hero-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-top-right-image{
    margin-right: 150px;
}
.hero-top-image{
    width: 500px;
}
.hero-bottom-right-heading{
    margin-right: 60px;
}
.hero-bottom-right-heading p{
    font-size: 100px;
}
.hero-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-bottom-left-image{
    margin-left: 150px;
}
.hero-bottom-image{
    width: 500px;
}
.light-border-btn {
  position: relative;
  padding: 12px 28px;
  font-size: 35px;
  color: #fff;
  background: #298f96;
  border: 2px solid #e8dfe7;
  border-radius: 8px;
  cursor: pointer;
}
